* {
  margin: 0;
  padding: 0;
  color: goldenrod;

}

/*``````````````````````````````````````````````````````Navbar```````````````````````````````````````````````````````````````````````````````````````````*/
.navbar{
background: black;
padding: 15px;
margin-bottom: 20px;
}

.addContact {
  width: 100%;
  height: 40px;
  justify-content: end;
  
}

.addBtn {
  margin: 10px 100px;
  width: 150px;
  height: 40px;
 
}

.tableArea {
  width: 100%;
  text-align: center;
  margin: 50px 350px;
}

.table {
  width: 700px;
  height: 200px;

  
}
.form{
  width: 100%;
margin-top: 70px;
text-align: center;
align-items: center;

}
 
.submit, .form button{
  width: 400px;
  height: 30px;
  padding: 7px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: black;
  margin: 5px;
  
}
.textDecorationNone{
  text-decoration: none;
}
.editBtn{
  width: 60px;
  height: 20px;
  background: transparent;
  border: 1px solid goldenrod;
  margin: 3px;
}

label{
  width: 800px;
  height: 30px;
}
.mainInput{
  width: 400px;
  height: 20px;
  padding: 7px;
  border: 1px solid goldenrod;
  color: goldenrod;
  margin: 20px;
  text-align: start;
}
.inputGrid{
  margin: 70px;
}
.btnTable{
  width: 100px;
}
.linkBtn{
  width: 150px;
}